<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Registration</h1>
    <table border="2" align="center">
        <form method="POST">

            {% csrf_token %}

            <tr>
                <th>Username</th>
                <td><input type="text" name="username" id=""></td>
            </tr>

            <tr>
                <th>First name</th>
                <td><input type="text" name="first_name" id=""></td>
            </tr>

            <tr>
                <th>Last name</th>
                <td><input type="text" name="last_name" id=""></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><input type="email" name="email" id=""></td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="password" name="password" id=""></td>
            </tr>

            <tr>
                <th>Confirm Password</th>
                <td><input type="password" name="confirm_password" id=""></td>
            </tr>

            <tr>
                <th colspan="2" align="center"><input type="submit" value="submit"></th>
            </tr>
        </form>





    </table>
    <h3 align="center">{{ error }}</h3>
</body>
</html>